---
import ConstrainedWidthLayout from "@/layouts/ConstrainedWidthLayout.astro";
---

<ConstrainedWidthLayout title="Index Page">
    <div>
        <h2>Ayo, Olá, Ciao, Dia duit, こんにちは, 你好, नमस्ते!</h2>
        <p>Hi I'm Veena, welcome to my website. I'm interested in computer vision and generating videos and I've taken up some internet space to share it with you!</p>
        <a href={`/post/1`}>See Posts</a>
    </div>
</ConstrainedWidthLayout>
