---
import { getCollection } from "astro:content";
import ConstrainedWidthLayout from "@/layouts/ConstrainedWidthLayout.astro";

const allPosts = await getCollection("post");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const tagsCount = tags.map((tag) => ({
    tag,
    count: allPosts.filter((post) => post.data.tags.includes(tag)).length,
}));

const maxCount = Math.max(...tagsCount.map((tag) => tag.count));
---

<ConstrainedWidthLayout title="Tags">
    <h1 class="text-4xl my-4">Tags:</h1>
    <div class="flex flex-wrap space-x-2">
        {
            tagsCount.map(({ tag, count }) => (
                <a href={`/tag/${tag}/1`}>{tag}</a>
            ))
        }
    </div>
</ConstrainedWidthLayout>