---
import { type Page } from "astro";
import Pagination from "@/components/common/Pagination.astro";
import PostPreviewList from "@/components/post/PostPreviewList.astro";
import ConstrainedWidthLayout from "./ConstrainedWidthLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
    metaTitle: string;
    title: string;
    page: Page<CollectionEntry<"post">>;
}

const { metaTitle, title, page } = Astro.props; 
const posts = page.data;
---

<ConstrainedWidthLayout title={metaTitle}>
    <div class="grid p-2">
        <div class="">
            <h2>{title}</h2>
            <PostPreviewList posts={posts} />
            <Pagination page={page} />
        </div>
    </div>
</ConstrainedWidthLayout>